@model IEnumerable<INF272_Practical_2_u24717739.Models.Student_Model>
@{
    ViewBag.Title = "StudentsView";
}

<h2>Students View</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.surname)</th>
        <th>@Html.DisplayNameFor(model => model.email)</th>
        <th>Link to personal page</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.surname)</td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
            <td>
                
                <button onclick="window.location.href='@Url.Content(item.MyLink)'">
                  Link
                </button>

            </td>
        </tr>
    }
</table>
